<div ng-show="is_load">
	<div ng-hide="is_error">
		<div class="profile">
		  <ul class="profile__list">
		    <li class="profile__item">
		      <div class="profile__prop">Здравствуйте, {{firstName}} {{lastName}}</div>
		    </li>
		    <li class="profile__item">
		      <div class="profile__prop">Ваш лицевой счет:</div>
		      <div class="profile__value">{{login}}</div>
		    </li>
		    <li class="profile__item">
		      <div class="profile__prop">Ваш баланс:</div>
		      <div class="profile__value">{{balance}} рублей</div>
		    </li>
		    <li class="profile__item" ng-if="is_active">
		      <div class="profile__prop">Плейлист:</div><a class="profile__value profile__value--playlist" href="{{playlistUrl}}">{{playlistUrl}}</a>
		    </li>
		  </ul>
		  <div class="profile__row"><a class="profile__logout" href="" ng-click="logout()">Выйти</a></div>
		</div>
	</div>
	<div class="profile" ng-show="is_error">Ошибка сервиса! Попробуйте, пожалуйста, позже.</div>
</div>
<div class="profile" ng-hide="is_load">Пожалуйста, подождите...</div>