<div ng-show="is_load">
	<div ng-hide="is_error">
		<section class="section section--schedule" ng-show="is_active">
		  <div class="container" id="container">
		    <div class="container__right container__right--schedule">
		      <div class="schedule">
		        <ul class="schedule__days-list">
		          <li class="schedule__days-item" ng-class="{active: date.date == selectedDate}" ng-repeat="date in dates" ng-click="setDate(); loadSchedule();"><a class="schedule__days-link" href="">{{date.date | date:'dd.MM.yyyy'}}</a></li>
		        </ul>
		        <header class="schedule__header">
		          <div class="schedule__img"><img ng-src="{{selectedChannel.img}}"/></div>
		          <h2 class="schedule__channel-name">{{selectedChannel.name}}</h2>
		        </header>
		        <ul class="schedule__main-list">
		          <li class="schedule__item" ng-repeat="program in schedule"><strong class="schedule__time">{{program.start | time}}</strong>
		            <p class="schedule__description"><strong>{{program.name}}</strong>.<span>{{program.description}}</span></p>
		          </li>
		        </ul>
		      </div>
		    </div>
		    <div class="container__left container__left--schedule">
		      <ul class="container__list">
		        <li class="container__item container__item--schedule" ng-class="{active: channel.id == selectedChannel.id}" ng-repeat="channel in channels" ng-click="setChannel(); loadSchedule(); jumpToUp();"><a class="container__link" href=""><img class="container__img" ng-src="{{channel.img}}" alt="Иконка канала {{channel.name}}"/><strong class="container__channel-name">{{channel.name}}</strong></a></li>
		      </ul>
		    </div>
		  </div>
		</section>
		<div class="profile" ng-hide="is_active">
			Страница доступна только с положительным балансом
		</div>
	</div>
	<div class="profile" ng-show="is_error">Ошибка сервиса! Попробуйте, пожалуйста, позже.</div>
</div>
<div class="profile" ng-hide="is_load">Пожалуйста, подождите...</div>